.nav-wrapper {
  width: 60vw;
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 0 0.25rem;
  padding: 0.25rem 2.5rem 0.25rem 2.5rem;
  background-color: #4f4f4f;
  font: bold 1.2rem Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.nav-link:hover {
  filter: brightness(1.3);
}

.nav-link-current {
  filter: brightness(1.3);
  border-bottom: 3px solid;
  border-color: rgba(255, 255, 255, 0.6);
}
