.date-selector-wrapper {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-selector-button {
  border: none;
  background-color: transparent;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 3rem;
}

.date-selector-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.date-selector-text-wrapper {
  display: flex;
}

.date-selector-text {
  color: rgba(255, 255, 255, 0.6);
  font: bold 2rem Arial, sans-serif;
}
