.day-wrapper {
  height: 60vw;
  width: 60vw;
  margin: 0;
  display: grid;
  overflow: visible;
}

.card:hover {
  /* TODO: Need to get this working in the default day CSS file */
  filter: brightness(1.2);
}

.date-text {
  width: 60vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
