.card {
  margin: 0rem;
  display: flex;
  flex-direction: column;
  outline: solid 1px;
}

.card:after {
  padding-bottom: 100%;
  padding-right: 100%;
}

.card-title-wrapper {
  margin: 0;
  outline: solid 1px;
  height: 30%;
  display: flex;
  justify-content: center;
}

.card-title {
  margin: 0;
  align-content: center;
  align-self: center;
  font-size: 1rem;
}

.card-content-wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content {
  /* TODO: Responsive typography
  https://www.creativebloq.com/rwd/expert-responsive-typography-tips-101517572 */
  margin: 0;
  color: 'inherit';
  align-self: center;
}
