.month-wrapper {
  /* TODO: Make this more responsive for mobile.
  https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
  */
  height: 60vh;
  width: 60vw;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow: visible;
}
