.stacked-year-wrapper {
  width: 30vw;
  height: 90vh;
  /* width: min-content;
  height: fit-content; */
}

.stacked-year-month-wrapper {
  /* transform: scale(0.3); */
  /* transform-origin: left top; */
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* overflow: visible; */
  transform: scale(0.75);
  transform-origin: left top;
}
