.year-wrapper {
  height: 80vh;
  width: 80vw;
}

.months-wrapper {
  /* TODO: Make this more responsive for mobile.
  https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
  */
  transform: scale(0.3);
  transform-origin: left top;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: visible;
  gap: 5vw;
}

.month-text {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font: 3.5rem Arial, sans-serif;
}

.month-text-span:hover {
  margin: 0;
  background-color: #2a2e39;
  padding: 1.2rem;
  filter: brightness(1.3);
}
