.date-selector-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-selector-button {
  border: none;
  background-color: transparent;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.6);
  /* TODO: Appears Year selector css is taking priority on other selectors.  Can this stylesheet be generalized for all selectors? */
  margin: 0 3rem;
}

.date-selector-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.date-selector-text-wrapper {
  display: flex;
}

.date-selector-year {
  color: rgba(255, 255, 255, 0.6);
  font: bold 2rem Arial, sans-serif;
}
